.adder{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: center;
    font-weight: 800;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    margin-top: 1rem;
}

.adder:hover{
    color:green;
    cursor: pointer;
}
