:root{
    --black:rgba(11, 9, 13, 1);
    --grey-1:rgba(63, 63, 64, 0.9);
    --grey-2:rgba(63, 63, 64, 0.4);
    --white:rgba(241, 240, 242, 1);
    --beige:rgba(217, 213, 210, 1);
    --green:rgba(8, 140, 55, 1);

    --background-color: var(--white);
    --background-gradiant: linear-gradient(59deg, var(--beige) 0%, var(--white) 100%); 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--grey-1);
}

body{
    background: var(--background-color);
    /* background: var(--background-gradiant); */


}

.main{
    display: flex;
    flex-direction: column;
    align-content: center;

    padding: 10%;
    height: 100vh;

    gap:1rem;
}

.tool{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: none;

    resize: none; /*remove the resize handle on the bottom right*/
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

.options{
    position: absolute;
    right: 2rem;
    top: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--grey-2);
    border-radius: 0.5rem;
    cursor: pointer;
}

.options:hover{
    color: var(--black);
    border: 1px solid var(--grey-1);
}


